.page-header {
  display: flex;
  height: 65px;
  width: 100%;
  background: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  align-items: center;
}

.header-image {
  height: 24px;
  margin-left: 20px;
}

input {
  width: 230px;
  height: 25px;
  border-color: rgba(213, 212, 216, 1);
  width: 230px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
}

.form-button {
  background: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  display: block;
  width: 477px;
  height: 40px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.form-input-container {
  display: flex;
  width: 477px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.meme-image{
  max-width: 100%;
  height: 200px;
}

.image-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}